.pedido-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #52796F;
    border-radius: 7px;
    margin: 1% 0px;
}

.header{
    display: flex;
    justify-content: space-around;
}

.nome{
    color: #FAF7F2;
    font-size: 20px;
}